@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @TempData["SuccessIndicator"]
    <form class="col-xs-12" method="post" action="/Home/SubmitFile" enctype="multipart/form-data">

        <div class="form-group">
            <input type="file" class="form-control" name="file" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary col-xs-12">Submit</button>
        </div>
    </form>
</div>
